.App {
  line-height: 140%;
}

.App-logo {
  /* height: 40vmin; */
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .App-link {
  color: #61dafb;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-bar {
  display: flex;
}

li {
  list-style-type: none;
}

.featuredFivePhoto {
  max-height: 200px;
}

.basic-container {
  /* border: 1px solid #dd9933; */
  padding: 1%;
  margin: 2% 10%;
  color: #777777;
  font-size: 14pt;
}

.home-banner {
  max-width: 100%;
}

.country-banner {
  max-width: 100%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 20px 0px 10px 0px;
}

.hidden {
  display: none;
}

.nav-button-container {
  display: flex;
  font-size: 20px;
  justify-content: center;
  margin-top: 1rem;
}

.nav-buttons {
  border: 1px solid #e48d48;
  color: #e48d48;
  padding: 10px;
  margin: 10px;
  text-decoration: none;
}

.llama-banner {
  margin: auto;
  max-width: 80%;
}

.section-container {
  border: 1px solid #e48d48;
}

.post-body {
  color: rgb(72, 72, 72);
  margin: 5%;
  padding: 2%;
  border: 1px solid #e48d48;
}

.section-header {
  margin-bottom: 10px;
}

.title {
  margin-top: 25px;
}

.no-btn {
  border: none;
  color: blue;
  font-style: italic;
  background: none;
}

.top5-container {
  margin: 5px 20px;
  display: flex;
  justify-content: space-between;
}

.top5-card {
  width: 180px;
  height: 250px;
  background-size: contain;
  background-repeat: no-repeat;
}

.top5-card:hover {
  transform: scale(1.2);
}

.top5-content {
  max-width: 100%;
  color: white;
  line-height: 110%;
  text-shadow: 1px 1px 5px #090909;
  font-size: 15px;
  font-family: 'Oxygen', sans-serif;
  text-align: center;
  overflow: hidden;
}

.top5-content h2{
  font-size: 2vw;
  margin-top: 8%;
  font-weight: bold;
}

.top5-post {
  margin: 5%;
}

.upvote_icons {
  display: flex;
  gap: 2em;
  justify-content: center;
  margin: .5em;
}

.icon {
  cursor: pointer;
}

.flex_header {
  margin-top: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.center {
  text-align: center;
}

.sign-in-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 5em;
  text-align: left;
  gap: 1em;
}

.form-inputs {
  display: flex;
  gap: 1.5em;
}

.margin-top{
  margin-top: 5em;
}

.errors{
  color: red;
  font-size: 12px;
}

.margin-bottom {
  margin-bottom: 5%;
}

.padding-top {
  padding-top: 1em;
}

.flex-right {
  margin-top: 1.5em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1em;
}